
body {
background-image: url("https://storage.theoryandpractice.ru/tnp/uploads/image_unit/000/137/187/image/base_f761132e87.jpg");
height: 100vh;
background-repeat: no-repeat;
background-position: center;
background-size: cover;


}
.container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 30vh;
margin-left: 700px;
margin-top: 70px;
}
.title {
margin-top: 80px;
}
p, h2, button {
font-family: 'Charm', cursive;
}
p {
font-size: 30px;
}
button {
font-size: 20px;
padding: 10px 20px;
border-radius: 40px;
background-color: rgb(175, 167, 237);
margin: 0;
}
button:hover {
  background-color: rgb(162, 45, 102);
  transform: scale(1.25);
  box-shadow: 0px 2px 20px;
}

h2 {
  color: yellowgreen;
font-weight: bolder;
  font-size: 40px;
}
p {
  color: white;
}